<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>F1Caps-Carreto de Compra</title>
  <link rel="stylesheet" href="../Assets/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/carretoCompra.css">
</head>
<body>
  <header>
    <div>
      <img src="../Assets/Logo/logo clar.png" id="logo">
      <h1>F1Caps</h1>
      <i class="fa fa-shopping-cart" aria-hidden="true" id="carrito"></i>
    </div>
   </header> 
   <body>
    <!--Aixo seran els filtres i el boto de cerca de la tablet i tambe servira per el ordenador-->
    <div class="tablet_settings">
      <div class="Equipos_i_Pilotos">
         <div class="Equipos">
         <label for="Equipo">Equipos</label>
         <select id="Equipo">
            <option value="" selected disabled></option>
            <option value="Ferrari">Ferrari</option> 
            <option value="Mercedes">Mercedes</option>  
            <option value="RedBull">RedBull</option>
            <option value="Aston Martin">Aston Martin</option>
            <option value="McLaren">McLaren</option>
            <option value="Alpine">Alpine</option>
            <option value="Stake">Stake</option>
            <option value="Williams">Williams</option> ç
            <option value="Visa Cash App RB">Visa Cash App RB</option>
            <option value="Haas">Haas</option>  
         </select>
      </div>
      <div class="Pilotos">
         <label for="Piloto">Pilotos</label>
         <select id="Piloto">
            <option value="" selected disabled></option>
            <option value="Max Verstappen">Max Verstappen</option> 
            <option value="Fernando Alonso">Fernando Alonso</option>  
            <option value="Lewis Hamilton">Lewis Hamilton</option>
            <option value="Charles Leclerc">Charles Leclerc</option>
            <option value="Carlos Sainz">Carlos Sainz</option>
            <option value="Lando Norris">Lando Norris</option>
            <option value="Oscar Piastri">Oscar Piastri</option>
            <option value="Daniel Ricciardo">Daniel Ricciardo</option> ç
            <option value="George Russel">George Russel</option>
            <option value="Checho Perez">Checho Perez</option>  
         </select>
      </div>
      </div>
      <i class="fa fa-search" aria-hidden="true" id="lupa"></i>
      <input type="search" name="search" placeholder="Search...">
      <hr>
   </div>
    <!--Aixo seran els filtres i el boto de cerca del movil-->
   <div class="movil_settings"> 
     
     <i class="fa fa-search" aria-hidden="true" id="lupa"></i>
     <input type="search" name="search" placeholder="Search...">
     <i class="fa fa-sliders" aria-hidden="true" id="filtros"></i> 
   </div>
   
  
</div>
   </body>
   <footer>
    <p>  @Copyright F1Caps</p>
    <a href="https://www.instagram.com/">
      <i class="fa fa-instagram" aria-hidden="true" id="instagram"></i>  
   </a>
   <a href="https://www.facebook.com/?locale=ca_ES">
      <i class="fa fa-facebook-official" aria-hidden="true" id="facebook"></i>
   </a>
   <a href="https://twitter.com/i/flow/login?lang=ca">
      <i class="fa fa-twitter" aria-hidden="true" id="twitter"></i>
   </a>
</footer>
</body>
</html>