<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>F1Caps-Carreto de Compra</title>
  <link rel="stylesheet" href="../Assets/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/checkout.css">
</head>
<body>
  <header>
    <div>
      <img src="../Assets/Logo/logo clar.png" id="logo">
      <h1>F1Caps</h1>
      <a href="./CarretoCompra.html">
        <i class="fa fa-shopping-cart" aria-hidden="true" id="carrito"></i>
      </a>
    </div>
   </header>
   <main>

    <h1>CHECKOUT</h1>

    <form action="get">
        <p>Nombre</p><input type="text" name="nom" id="nom">
        <p>Apellidos</p><input type="text" name="llinatges" id="llinatges">
        <p>Direccion entrega</p><input type="text" name="direccio-entrega" id="direccio-entrega">
        <p>Codigo postal</p><input type="text" name="codi-postal" id="codi-postal">
        <p>Direccion de facturacion</p><input type="text" name="direccio-facturacio" id="direccio-facturacio">
    </form>
    
    <a href="./checkoutPagament.html">
      <input type="button" name="continuar" id="continuar" value="Continuar">
    </a>

   </main>
   <footer>
    <p>  @Copyright F1Caps</p>
    <a href="https://www.instagram.com/">
      <i class="fa fa-instagram" aria-hidden="true" id="instagram"></i>  
   </a>
   <a href="https://www.facebook.com/?locale=ca_ES">
      <i class="fa fa-facebook-official" aria-hidden="true" id="facebook"></i>
   </a>
   <a href="https://twitter.com/i/flow/login?lang=ca">
      <i class="fa fa-twitter" aria-hidden="true" id="twitter"></i>
   </a>
</footer>
</body> 
</html>