* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
  text-align: center;
  padding: auto;
 
  
}

.logo{
  width: 100px;
}

.menu ul li{
  display: inline;
  
}

div > input{
  position: absolute;
  right: 0;
  top: 80px; 
}

header input[type=button] {
  background-color: #ff8800;
}

header input[type=button]:hover{
  background-color: #db7603;
}

.menu ul li a {
  color: black;
  padding: 5px;
  text-decoration: none;
}

.menu ul li a:hover {
  color: #ff8800;
  padding: 5px;
  text-decoration:underline
}

main {
  position: relative;
  margin-bottom: 25px;
}

aside {
  position: absolute;
  left: 15px;
  display: block;
  padding: auto; 
  margin: auto;
}

aside  a {
  color: black;
  text-decoration: none;
  
}

aside  a:hover { 
color: #ff8800;
text-decoration: underline;
  
}

aside ul li {
  list-style: none;
  padding-left: 15px;
}

section {
display: inline-block;
margin-left: 15% ;
}

#products-filter{
  background-color: lightgray;
  width: 1555px;
  height: 50px;
  padding-left: 20px;
  padding-top: 15px;
  color: black;
}

#products-filter a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#products-filter a:hover {
  text-decoration: underline;
  
}

article{
  display: inline-block;
  width: 23%;
  height: 70%;
  padding-right: 5px;
  
}
 .image-container  img {
 display: inline-block;
  width: 100%;
 }

 article  .image-container  img:hover {
  opacity: 80%;
 }

 span {
  font-weight: bold;
 }

 .product-name ~ span {
    display: block;   
 }

 #load-more-products {
  height: 15%;
  margin-bottom: 35px;
 }

 #load-more-products > button {
  display: block;
  margin-left: 47%;
  margin-top: 1%;
  width: 5%;
  height: 15%;
  background-color: #ff8800;
  padding: 5px;
 
  
 }

 #load-more-products > button:hover {
  background-color: #db7603;
 }

 #back-to-top {
  position: fixed;
  right: 6%;
  top: 85%;
  background-color: #ff8800;
  padding: 5px;
 }

 #back-to-top:hover {
  background-color: #db7603;
 }

 footer {
  background-color: lightgray;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  
 
 }



 footer ul li {
  display: inline;
 }