<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercici 5 - Index</title>
   <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <h1>About</h1>
        <nav>
          <a href="../MyWebsite.html">Home</a>
           <a href="Checkout.html">Checkout</a>
           <a href="Account.html">Account</a>
           <a href="Contact.html">Contact</a>
           <a href="About.html">About</a>
        </nav>
    </header>
  <main>
    Main content
  </main>
 <footer>
   <nav>
    <a href="https://www.facebook.com/?locale=ca_ES" target="_blank">Facebook</a>
    <a href="https://twitter.com/?lang=ca" target="_blank">Twitter</a>
    <a href="https://www.instagram.com/" target="_blank">Instagram</a>
    <a href="https://es.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank">Linkedin</a>
   </nav>
</footer>
</body>
</html>